@model IEnumerable<Sucursales.Models.Sale>

@{
    ViewBag.Title = "Ventas";
}

<h2 class="text-light">@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nueva venta", "Create",null,new { @class= "btn btn-info"})
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Branch.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Detalle", "Details", new { id=item.Id },new { @class= "badge badge-info" })
        </td>
    </tr>
}

</table>
